*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    color: white;
}

#app{
    text-align: center;
    width: 40vw;
    margin: 10vh auto;
}

span{
    color: red;
    display: inline-block;
    margin-bottom: 20px;
    font-size: 25px;
}

#app ul li{
    text-align: left;
    list-style: none;
    padding-bottom: 20px;
    font-size: 20px;
}

input{
    width: 100%;
    border: 5px solid ;
    padding: 10px;
    margin: 20px 0;
    border-radius: 20px;
    background: linear-gradient(45deg,#ff0000,#ff7300,#fffb00,#48ff00,#00ffd5,#002bff,#7a00ff,#ff00c8,#ff0000);;
}

input::placeholder {
    font-weight: bold;
    color: black;
}

.btn {
    padding: 0.6em 2em;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    margin-bottom: 20px;
}
  
.btn:before {
    content: "";
    background: linear-gradient(45deg,#ff0000,#ff7300,#fffb00,#48ff00,#00ffd5,#002bff,#7a00ff,#ff00c8,#ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing-btn 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
}
  
@keyframes glowing-btn {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 400% 0;
    }
    100% {
      background-position: 0 0;
    }
}
  
.btn:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #222;
    left: 0;
    top: 0;
    border-radius: 10px;
}